aside {
    display: flex;
    justify-content: center;
 .img-p{
    height: 50%;
    border-radius: 10px;
    margin-left: 45%;
    margin-top: 30%;
 }
 .publicidad2{
    display: flex;
    justify-content: center;
    align-items: center;
    .img-p2{
        width: 80%;
        border-radius: 10px;
        margin-left: 8%;
        margin-top: 5%;
     }
}

 .img-p3{
    display: none;
    width: 200px;
 }
}
@media screen and (max-width: 1024px){
    aside{
    .img-p{
        margin-left: 15%;
    }
}
}
@media screen and (max-width: 992px){
    aside{

    .img-p{
        margin-left: 25%;
    }
}
}
@media screen and (max-width: 768px){
    .img-p{
        display: none;
    }
}
@media screen and (max-width: 425px){
    aside{
    .img-p2{
        display: none;
     }
     .img-p{
      display: none;
     }
     .img-p3{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        margin: 10px;
     }
    }
}