.publicidad{
    display: flex;
        justify-content: center;
        align-items: center;
    .publicidad1{
        width: 500px;
        margin-top: 15%;
        
        .img-p{
            width: 170%;
            border-radius: 10px;
        }
    }
    .publicidad2{
        margin-top: 5%;
        width: 80%;
        .img-p2{
            width: 80%;
            margin-left: 8%;
            border-radius: 10px;
        }
    }
    .publicidad3{
        display: none;
    }
}
@media screen and (max-width: 768px){
    .publicidad{
        display: flex;
            justify-content: center;
            align-items: center;
        .publicidad1{
            display: none;
        }
        .publicidad2{
            margin-top: 5%;
            width: 80%;
            .img-p2{
                width: 100%;
                margin-left: 0%;
                border-radius: 10px;
            }
        }
        .publicidad3{
            display: flex;
            .img-p3{
                width: 50%;
                border-radius: 10px;
                margin-left: 25%;
                margin-bottom: 5%;
            }
        }
    }
}
@media screen and (max-width: 768px){
    .publicidad{
        display: flex;
            justify-content: center;
            align-items: center;
        .publicidad1{
            display: none;
        }
        .publicidad2{
            margin-top: 15%;
            width: 80%;
            .img-p2{
                width: 120%;
                margin-left: -10%;
                border-radius: 10px;
            }
        }
        .publicidad3{
            display: flex;
            .img-p3{
                width: 50%;
                border-radius: 10px;
                margin-left: 25%;
                margin-bottom: 5%;
            }
        }
    }
}
