.navegador{
    
    border-radius: 5px;
    .letras{
        color: white;
        font-family: pag;
        border-radius: 10px;
    }
    .logo{
        margin-right: 10px;
        border-radius: 60px;
    }
    .ubicacion{
        @extend .letras;
        background-color: rgba(255, 255, 255, 0.5);
        color: black;
    }
    .nav-fondo{
        background-color: $transparente;
    }
    .tittle{
        color: rgb(255, 255, 255);
        font-family: title;
        margin-right: 2rem;
    }
}
.contacto{
    width: 70px;
    border-radius: 40px;
    position: fixed;
    bottom: 20px;
    right: 50px;
}
// Mobile 
@media screen and (max-width: 425px){
    .contacto{
    width: 70px;
        border-radius: 40px;
        position: fixed;
        bottom: 5px;
        right: 5px;
    }
    .tittle{
        color: rgb(255, 255, 255);
        font-family: title;
        margin-right: 8rem;
    }
    
}