.navegador{
    background-color: $transparente;
    border-radius: 10px;

    .letras{
        color: white;
        font-family: pag;
    }
    .logo{
        margin-right: 10px;
        border-radius: 60px;
    }
}