.container__tarjeta{
    padding-block: 50px;
    font-family: pag;
    .tarjeta{
        background-color: $transparente;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        .card-img-top{
            width: 80%;
            border-radius: 10px;
            margin-top: 20px;
        }
    }
}
@media screen and (max-width: 767px){
    .container__tarjeta{
        display:flex;
        flex-flow: column;
        justify-content: center;
    align-items: center;
        .tarjeta{
        width: 100%;
    }
    }
}
@media screen and (max-width: 425px){
    .container__tarjeta{
        width: auto;
        .tarjeta{
            width: 350px;
        }
        .card-img-top{
            width: 80%;
            border-radius: 10px;
            margin-top: 20px;
        }
    }
}
@media screen and (max-width: 400px){
    .container__tarjeta{
        width: auto;
        .tarjeta{
            width: 325px;
        }
        .card-img-top{
            width: 80%;
            border-radius: 10px;
            margin-top: 20px;
        }
    }
}
@media screen and (max-width: 320px){
    .container__tarjeta{
        width: auto;
        .tarjeta{
            width: 250px;
        }
        .card-img-top{
            width: 80%;
            border-radius: 10px;
            margin-top: 20px;
        }
    }
}