.container__tarjeta{
    padding-block: 50px;
    font-family: pag;
    .tarjeta{
        background-color: $transparente;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
     
        .card-img-top{
            width: 300px;
            height: 300px;
            border-radius: 10px;
            margin-top: 20px;
        }
    }
}
@media screen and (max-width: 425px){
    .container__tarjeta{
        width: auto;
        .tarjeta{
            width: 300px;
        }
        .img_card{
            width: 100px;
            height: 100px;
            border-radius: 10px;
            margin-top: 20px;
        }
    }
}