$blanco: #ffffff;
$transparente: #00000080;
// Maps
$colores: (
    transparente:#00000080
);
// fin maps
// each
@each $pagina, $base in $colores {
    .color-#{$pagina}{
        background-color: $base;
    }
}