@import "./Scss/reset";
@import "./Scss/variables";
@import "./Scss/header";
@import "./Scss/tarjeta";
@import "./Scss/footer";
@import "./Scss/carrousel";
@import "./Scss/form";

 @font-face {
    font-family: title;
    src: url(../Media/1.ttf);
 }
 @font-face {
    font-family: pag;
    src: url(../Media/2.ttf);
 }
 .imagenFondo{
   background-image:url(../Media/Imagenes/Fondo.jpg) ;
   background-position: center center;
   background-size: cover;
   height: 100vh;
   // display: flex;
   // justify-content: center;
   // align-items: center;
   
}